.game {
	/* user-select: none; */
  position: absolute;
  width: 100%;
  top: -380px;
  height: 380px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  transition: top 2s;
}

.game.show {
	top: 0;
  background: #222;
}